<!DOCTYPE html> 
   <html lang="en">
      <head>
         <meta charset="UTF-8" />
         <meta http-equiv="X-UA-Compatible" content="IE=edge" />
         <meta name="viewport" content="width=device-width, initial-scale=1.0" />
         <title>Chunk File</title>
         <link rel="icon" href="/public/images/chunk_file logo 1 3.png">
         <link rel="stylesheet" href="styles.css" />
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
      </head>
      <body>

         <header>
            <nav>
               <img src="images/chunk_file logo 1 3.png" alt="" class="logo" />
               <i class="fas fa-bars" onclick="openMenu()"></i>
               <div id="sidemenu">
                  <div class="nav_bar1">
                     <ul>
                        <li class="nav_item"><a href="#features">Features</a></li>
                        <li class="nav_item"><a href="#about">About</a></li>
                        <li class="nav_item"><a href="#footer">Support</a></li>
   
                        <i class="fas fa-times" onclick="closeMenu()"></i>
                     </ul>
                       
                  </div>
   
                  <div class="nav_btn">
                     <button class="sign_in"><a href="/login">Log In</a></button>
                     <button class="sign_up"><a href="/register">Sign Up</a></button>
                  </div>
               </div>
            </nav>
         </header>         
         
         <main>
            <div id="illustration">
               <div class="illustration1"></div>
               <div class="illustration2">
                  <h1>Split your data-files into Smaller Chunks</h1>
                  <h3>
                     Upload, Split, Download or Save your data files for later.
                  </h3>
                  <button><a href="/register">Get Started</a></button>
               </div>
            </div>
            
            <div id="feature">
               <h2>Features</h2>
               <div class="features1">
                  <div class="features1_items">
                     <h3>Splitter</h3>
                     <p>
                        Breaks large CSV or JSON files, with sizes higher than 1 GB, without hassle.
                     </p>
                  </div>

                  <div class="features1_items">
                     <h3>Converter</h3>
                     <p>
                        ChunkFile helps you to quickly convert data formats into any format you need.
                     </p>
                  </div>

                  <div class="features1_items">
                     <h3>Custom Size</h3>
                     <p>Customize piece files according to your size needs</p>
                  </div>

               </div>

               <button class="feature_btn">Learn More</button>

            </div>
            
            <div id="usage">
               <div class="json">
                  <div class="json1">
                     <p>
                        <strong>Fast</strong> and <strong>Powerful</strong> Large<br />
                        Data-Files Splitter
                     </p>
                  </div>

                  <div class="json2"></div>

               </div>

               <div class="csv">
                  <div class="csv1"></div>

                  <div class="csv2">
                     <p>Split Large files and still retain <b>original quality</b></p>
                  </div>
               </div>

            </div>

            <div id="about">
               <h2 class="about_heading" >How it Works</h2>

               <div class="how_it_works">
                  <div class="how_item">
                     <img src="images/Group 2327.png" />
                  </div>

                  <div class="how_item">
                     <img src="images/Group 2328.png" />
                  </div>

                  <div class="how_item">
                     <img src="images/Group 2324.png" />
                  </div>

                  <div class="how_item">
                     <img src="images/Group 2329.png" />
                  </div>

               </div>
            </div>
         
            
            <div  class="organisations">

               <h1>Organisation that uses ChunkFile</h1>
               <div class="organisations_item">
                  <div class="org_logo zuri_logo">
                     <a href=""><img src="./images/1614476081317 (1) 1.png" alt=""></a>
                  </div>
   
                  <div class="org_logo ingressive_logo">
                     <a href=""><img src="./images/I4G-Logo-Color-Cropped (1) 1.png"></a>
                  </div>
   
               </div>
            </div>

         </main>

         <footer id="footer">
            <div id="footer_content">
               <div class="footer_content_item product">
                  <h4>Product</h4>
                  <p><a>Apps Integration</a></p>
                  <p><a>Tools</a></p>

                  <div class="product_icon">
                     <img src="./images/twitter.png" alt="">
                     <img src="./images/linkedin.png" alt="">
                     <img src="./images/instagram.png" alt="">
                  </div>
               </div>

               <div class=" footer_content_item company">
                  <h4>Company</h4>
                  <div><a href="#">Home</a></div>
                  <div><a href="#about">About</a></div>
                  <div><a href="#">Support</a></div>
                  <div><a href="#">Privacy Policy</a></div>
                  <div><a href="#">Contact us</a></div>
               </div>

               <div class="footer_content_item tools">
                  <h4>Tools</h4>
                  <div><a href="#">Split CSV</a></div>
                  <div><a href="#">Split JSON</a></div>
                  <div><a href="#">Convert CSV</a></div>
                  <div><a href="#">Convert JSON</a></div>
               </div>

            </div>

            <div class="footer_bottom">
               <p>@2022 ChunkFile. All rights reserved</p>
            </div>

         </footer>
            
         <script src="app.js"></script>
      </body>
   </html> 

