<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Size</title>
      <link rel="icon" href="/images/chunk_file logo 1 3.png" />
      <link rel="stylesheet" href="size.css" />
   </head>
   <body>
      <section class="top">
         <div class="header">
            <div class="chunk_logo"><img src="chunk_file logo 1 2.png" alt="logo" /></div>
            <div class="back">
               <a href="../Dashboard/Dashboard.html">Back to Dashboard</a>
            </div>
         </div>
         <div class="csv_info">
            <div>
               <p>
                  CSV File <span class="sample">Sample Data.csv</span>
                  <span class="bytes"> (12035238 bytes)</span>
               </p>
            </div>
         </div>
      </section>
      <hr/>
   <section>
         <form method="post" class="form">
            <div>
            <label class="lines">Lines:<br><span class="number_line">(Number of lines per file)</span></label>
               <input style="width: 200px; height: 40px;"
                  type="number"
                  name="number"
                  value="number"
                  placeholder="Input number of lines" />
<br><br>
</div>
<div>
               <label class="files">File Size:<br /><span class="number_byte">(Number of bytes per file)</span></label>
               <input style="width: 200px; height: 40px;"
                  type="number"
                  name="number"
                  value="number"
                  placeholder="Input number of bytes " />
            <br /><br />
            </div>
            <div>
            <label class="number">
               Number of Files:
                              <br /><span class="number_file">(Number of files to split into)</span></label>

               <input style="width: 200px
                ; height: 40px;"
                  type="number"
                  name="number"
                  value="number"
                  placeholder="Input number of files" />
            </div>

            <label class="save">Save Output As:</label>
            <div class="radio">
               <label for="json" class="json"> JSON files
            <input type="radio" id="json" name="json-csv_file" value="json_file" checked="checked" />
               </label><br>
                  <label for="json" class="csv">CSV files
            <input type="radio" id="json" name="json-csv_file" value="json_file" />
                  </label>
            </div>
            </form>
         <div class="more_options">
            <h2>More Chunk Options</h2>
            <button href="#">Premium Plan</button>
         </div>
      </section>
      <div class="suscribe">
         <div class="premium">
            <p>
               Subscribe to premium plan for custom delimeter, output format in excel (.xlsx), JSON
               (.json) files; custom output delimeter instead of CSV; detect and remove duplicate
               lines; etc
            </p>
         </div>
         <div class="out_btn">
            <a href="../Download Page/download.html">Download Results</a>
         </div>
      </div>
   </body>
</html> 
   </body>
</html>
